<side-menus>

  <!-- Center content -->
  <pane side-menu-content>
    <header class="bar bar-header bar-dark">
      <h1 class="title">ToDo</h1>
    </header>
    <content scroll="false" has-header="true">
      <!-- our list and list items -->
      <list>
        <item ng-repeat="task in tasks">
          {{task.title}}
        </item>
      </list>
    </div>
  </pane>

  <!-- Left menu content -->
  <side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Projects</h1>
    </header>
  </side-menu>

</side-menus>
