<side-menus>

  <!-- Center content -->
  <pane side-menu-content>
    <header class="bar bar-header bar-dark">
      <h1 class="title">ToDo</h1>
      <!-- New Task button-->
      <button class="button button-icon" ng-click="editTasks()">
        <i class="icon ion-edit"></i>
      </button>
      <button class="button button-icon" ng-click="newTask()">
        <i class="icon ion-compose"></i>
      </button>
    </header>
    <content scroll="false" has-header="true">
      <!-- our list and list items -->
      <list>
        <item ng-repeat="task in tasks">
          {{task.title}}
        </item>
      </list>
    </div>
  </pane>

  <!-- Left menu content -->
  <side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Projects</h1>
    </header>
  </side-menu>

  <script id="new-task.html" type="text/ng-template">

    <div class="modal">

      <!-- Modal header bar -->
      <header class="bar bar-header bar-secondary">
        <h1 class="title">New Task</h1>
        <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
      </header>

      <!-- Modal content area -->
      <content has-header="true">

        <form ng-submit="createTask(task)">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="What do you need to do?" ng-model="task.title">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-full button-positive">Create Task</button>
          </div>
        </form>

      </content>

    </div>

  </script>

</side-menus>
