<side-menus>

  <!-- Center content -->
  <pane side-menu-content>
    <header class="bar bar-header bar-dark">
      <h1 class="title">ToDo</h1>
    </header>
    <content has-header="true">
    </content>
  </pane>

  <!-- Left menu content -->
  <side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Projects</h1>
    </header>
  </side-menu>

</side-menus>
